:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #F7F7F7;
    --hospital-green: #b3d6b8;
    --fondo :  #d4e2d6;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xlg: 25px;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;

}

header {
    margin: 10px 10px;
    background-color: var(--hospital-green);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center; 
    border-radius: 10px; 
    height: 100px; 
}

.cabecera div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin-left: 20px;
}

.cabecera img {
    width: 65px;
    height: 65px;
}

header :nth-child(1) {
    margin: 0;
    font-size: 30px;
    font-weight:bold;
}
header p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: var(--md);
}


.principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seccion {
    width: 30%px;
    height:auto;
    margin: 10px;
    border-radius: 10px;
    
}

.title {
    display: flex;
    align-items: center;
    margin: 10px;

}

.title img {
    width: 50px;
    height: 50px;
}

title h2 {
    text-align: center;
    font-size: var(--md);
    margin: 20px;
}
.cuadrado {
    background-color: var(--very-light-pink);
}

.triangulo {
    background-color: var(--hospital-green);
}

.circulo {
    background-color:var(--very-light-pink)
}

.principal h2 {
    font-size: var(--lg);
    margin: 10px;
    text-align: center;
}
.inputs {
    display: flex;
    flex-direction: row;
    margin: 8px;
    justify-content:space-between;
    align-items: center;
}

.inputs label {
    margin: 0 5px 0 5px;
}

.inputs input {
    height: 35px;
    width: 40px;
    background-color:white;
    opacity: 50%;
    border: none;
    border-radius: 20%;
    text-align: center;

}

.outputs {
    display: flex;
    flex-direction: column;
    margin: 8px;
    align-items: center;
}

.outputs button {
    width: 150px;
    height: 35px;
    border: none;   
    border-radius: 20px;
    background-color: var(--white);
    opacity: 70%;
}

.outputs p {
    width: 150px;
    height: 35px;
    border: none;   
    border-radius: 20px;
    background-color: var(--white);
    opacity: 30%;
    text-align: center;
    font-size: var(--md);
    font-weight: bold; 
    position: relative;
    line-height: 2.3;

}
.resultados {
    font-size: var(--lg);
    font-weight: bold;

}

.form {
    display: flex;
    flex-direction: column;
}

@media (max-width: 640px) {
    .principal {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
  }