:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #F7F7F7;
    --hospital-green: #b3d6b8;
    --fondo :  #d4e2d6;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xlg: 25px;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;

}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.header img{
    width: 100px;
    height: 100px;
}

.titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulos h1 {
    margin: 5px;

}
.titulos h2 {
    margin: 5px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
}

.seccion {
    list-style: none;
}

.seccion a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.seccion a img {
    width: 80px;
    height: 80px;
    
}

.seccion_titulos {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}