:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #F7F7F7;
    --hospital-green: #b3d6b8;
    --fondo :  #d4e2d6;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xlg: 23px;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    margin: 10px 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px; 
    height: 100px; 
    background-color: var(--hospital-green);
    align-items: center;
    justify-content: center;
}
.header img {
    width:auto;
    margin-right: 20px;
}

.header div {
    margin: 0%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
}

.header h1 {
    margin: 0px 0px 7px;
}
.header p {
    margin: 7px 0px 0px;
}
.contenido {
    display: flex;
    flex-direction: row;
}

.contenido section {
    width: 50%;
    border-radius: 10px;
    height: 400px;
}
.contenido img {
    width: 50px;
    height: 50px;
}

.datos_ingresados {
    margin: 0px 5px 0px 10px;
    background-color: var(--very-light-pink);
    
}

.datos_ingresados p {
    margin: 20px;
}

.calculos {
    margin: 0px 10px 0px 5px;
    background-color: var(--hospital-green);
}


.boton {
    width: 150px;
    height: 35px;
    border: none;   
    border-radius: 20px;
    background-color: var(--white);
    opacity: 70%;
    cursor: pointer;
    
}

.titulos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 20px

}
.titulos h2 {
    margin-left: 20px;
    font-size: var(--lg);

}

.resultados {
    display: grid;
    grid-template-columns: 150px auto;
    margin: 30px 20px;
    grid-gap: 15px 40px;
    align-items: center;

}

.resultados p {
    font-size: var(--xlg);
    font-weight: bold;
    margin: 0px 0px;
    text-align: left;

}